body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dttn {
    /* -webkit-user-select: none;  Safari */
    /*-moz-user-select: none;  Firefox */
    /* -ms-user-select: none; IE10+/Edge */
    /* user-select: none; */
}

.login-valid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #4153d3;
}

/* This is main layout */

.main_content {
    width: 100%;
    display: flex;
    top: 75px;
    position: relative;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.side_right {
    /*   flex-grow: 1;*/
    flex-grow: 0;
    flex-shrink: 0;
    max-width: fit-content;
    width: max-content;
}

.side_left {
    padding-top: 5px;
    margin-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
    max-width: 15%;
}

.middle_content {
    margin-top: 5px;
    flex: 0 0 66.7%;
    max-width: 66.7%;
}

/* This is right side for advers */

.quangcao {
    position: fixed;
    width: 100%;
    padding-left: 5px;
}

/* This is left side for menu */

.side_left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    width: 195px;
}

.side_left ul li a {
    display: block;
    color: #2536c5;
    padding: 15px 35px;
    text-decoration: none;
}

.side_left ul li a.active {
    background-color: #04AA6D;
    color: white;
}

.side_left ul li a:hover:not(.active) {
    background-color: #f1f1f1;
    color: #007bff;
}

.btn_login {
    width: 170px;
    margin-left: -5px;
    margin-top: 10px;
    background-color: #5ec2fd !important;
    color: white !important;
    text-align: left !important;
}

.btn_login:hover {
    background: #8ad0f8 !important;
}

.btn_login img {
    margin-left: -8px !important;
    width: 24px;
    height: 24;
}

.footer {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 728px) {
    /* This is left side for menu */
    .main_content {
        /* display:block;
    position: relative;*/
        margin: unset;
        display: block;
    }
    .side_left,
    .middle_content {
        width: 100%;
    }
    .side_left ul {
        width: 100%;
        position: absolute;
    }
    .side_left ul li {
        text-align: center;
    }
    .middle_content {
        margin-top: 250px;
        max-width: 100%;
    }
    .side_right {
        display: none;
    }
    .btn_login {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
}